* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #efefef;
}

/* Css for menu */

#header {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

#header__content {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #8f1616;
    border-left: 3px solid #8f1616;
}

#main-menu {
    height: 40px;
    display: block;
    background-color: #e3e3e3;
}

#main-menu > ul > li {
    float: left;
    position: relative;
}

#main-menu > ul > li > a {
    font-family: 'Roboto', sans-serif;
    color: #525252;
    padding: 0 15px 0 15px;
    line-height: 40px;
    font-size: 13px;
    display: block;
    font-weight: 600;
}

#main-menu > ul > li > a:hover {
    background-color: #8f1616;
    color: #eeeeee;
    transition: ease-in 0.2s;
}

#main-menu li:hover #sub-menu {
    display: block;

}

#sub-menu {
    width: 130px;
    background-color: #e3e3e3;
    position: absolute;
    top: 41px;
    display: none;
}

#sub-menu li {
    border-bottom: solid 1px #8c8c8c;

}

#sub-menu li a {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 40px;
    display: block;
    padding-left: 15px;
}

#sub-menu li a:hover {
    background-color: #8f1616;
    color: #eeeeee;
    transition: ease-in 0.2s;
}

/* Css for form 1 */
.form {
    display: flex;
    flex-direction: column;
}

#form-1 {
    width: 727px;
    height: 657px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 100px;
}

.form-1-header {
    display: flex;
    justify-content: center;

}

.form-1-header h3 {
    font-size: 30px;
    font-weight: 1000;

    font-family: 'Roboto', sans-serif;
    padding: 40px;
}

.form-1-content form {

}

.form-1-element {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    margin: 15px 43px;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.form-1-element input {
    display: block;
}

.form-1-name {

}

.form-1-email {
    float: left;
}

.form-1-phone {
    float: left;
}

.form-1-width {
    width: 640px;
}

.form-1-height {
    height: 70px;
}

.form-1-mess {

}

#form-1 input, textarea, select {
    border: none;
    background-color: #f7f7f7;
    font-size: 17px;
    padding: 10px 0;
}

#form-1 label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9px;
    font-weight: bold;
    padding-left: 1px;
    margin-bottom: 5px;
}

#form-1 select {
    left: -3px;
    position: relative;
}

#form-1-submit {
    padding: 7px 300px;
    border-radius: 35px;
    color: #dadada;
    background-color: #1a1a1a;
    height: 40px;
    text-align: center;
    margin-top: 40px;
}

.form-1-email, .form-1-phone {
    width: 43%;
    margin: 0;
}

.form-1-email {
    margin-left: 43px;
    margin-bottom: 15px;
    margin-right: 15px;
}

/*  css for form-2  */
#form-2 {
    width: 940px;
    height: 700px;
    background-image: url("img/p1.jpg");
    background-size: 100% 100%;
    margin: auto;
    display: flex;
    margin-bottom: 100px;

}

#form-2-containt {
    height: 600px;
    width: 340px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form-2-containt h1 {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    width: 78px;
    margin-top: 74px;
}

.form-2-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-1-input {
    width: 245px;
    height: 35px;
    border-radius: 13px;
    margin-bottom: 20px;
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1a1a1a;
    box-shadow: 0px 3px 20px 10px #f1f1f1;
    background-color: #ffffff;
    border: none;
}

#form-2-submit {
    background-color: #bd59d7;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: #f7f7f7;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    border: none;
    margin-bottom: 30px;
    box-shadow: 0px 7px 20px 0 #c589e0;
}

.form-2-login-other h3 {
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
    font-size: 13px;
    margin: 20px;
}

.form-2-login-other-icon p {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 20px 2px #cbcbcb;
    margin: 5px;
}

.form-2-login-other-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.form-2-iconFB {
    color: darkblue;
}

form-2-iconGG {
    color: red;
}

#form-2-signup {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    color: #4d4d4d;
}


/* css form-3*/
#form-3 {
    width: 535px;
    height: 745px;
    margin: auto;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
}

#form-3 form {
    width: 450px;
    height: 670px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#form-3 label {
    color: #7ed321;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0;
}


#form-3 #account {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

#form-3 .input {
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 2px;
}

#form-3  i {
    line-height: 25px;
    padding: 0 10px;
    border-right: 1px solid #e7e7e7;
    color: #a6a5a5;
}

#form-3 input {
    flex: 1;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f9f9f9;
}

.birthday {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#birthday div {
    display: flex;
}

#birthday div .input {
    width: 60px;
    margin-right: 10px;
}

#bound {
    display: flex;
    flex-direction: row;
}
#gender{
    width: 50%;
}
#gender div{
    display: flex;
}
#gender button{
    height: 40px;
   box-sizing: border-box;
    padding: 0 40.5px;

}


#gender .selectButton{
    background-color: #7ed321;
}

#gender .hoverButton:hover{
    background-color: #9dd560;
}

#birthday div{
    margin: 10px 0 20px 0;
}
#gender div{
    margin: 10px 0;
}

#pay{
    display: flex;
    flex-direction: column;
}
#pay div{
    display: flex;
    margin: 5px 0;
}

#pay button{
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    padding: 0 50px ; border: 1px solid #e7e7e7;
    background-color: #f9f9f9;
}

#pay button:first-child{
    background-color: #7ed321;
}
#form-3 button{
    color: #8c8c8c;
}

#form-3 button i{
    border-right: none;
}

#pay {
    margin-bottom: 25px;
}
#pay .input {
    margin: 5px 0;
}
#accept div{
    margin-top: 15px;
    display: flex;
    align-items: start;
}
#accept div input{
    height: 25px;
    margin-right: 10px;

}

#accept div p{
    font-family: 'Roboto', sans-serif;
    color: #8c8c8c;
}